{% extends 'index.html' %}
{% block content %}

<h2>show information about book filtering by different criteria, filter by: </h2>
            <form action="{% url 'view_search' %}" method="POST">
            {% csrf_token %}
                {{ form_ }}
            </form>

{% if no_match %}
<br />
    "{{word_search}}"  {{ no_match }}
{% endif %}

{% if all_books %}
<table>
    <tr>
        <th>ID</th>
        <th>Book name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Authors</th></tr>
    {% for book in all_books %}
        <tr>
            <td>{{ book.pk }}</td>
            <td>{{ book.name }}</td>
            <td>{{ book.description }}</td>
            <td>{{ book.count }}</td>
                {% for author in book.authors.all %}
            <td>{{ author.name }} {{ author.patronymic }} {{ author.surname }}</td>
                {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
