{% extends 'index.html' %}
{% block content %}
<h2>show information about all unordered book</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Book name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Author</th></tr>
    {% for book in all_books %}
        <tr>
            <td>{{ book.pk }}</td>
            <td>{{ book.name }}</td>
            <td>{{ book.description }}</td>
            <td>{{ book.count }}</td>
            {% for author in book.authors.all %}
                <td>{{ author.name }} {{ author.patronymic }} {{ author.surname }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

{% endblock %}
