{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library - {{ title }} </title>

    <link rel="stylesheet" href="{% static 'css/table.css'%}" type="text/css">
</head>
<body>
<h1><a href="{% url 'index' %}">Library</a></h1>
<ul>
    <li><a href="{% url 'books' %}">show information about all books in library</a></li>
    <li>show information about a specific book (by id:
        {% for id in books_id %}
            <a href="/book/{{ id }}">&nbsp;{{ id }}&nbsp;</a>
        {% endfor %})
    </li>
    <li><a href="{% url 'unordered' %}">show information about all unordered book</a></li>
    <li>show information about book filtering by different criteria<br />
        <span style="margin-left: 50px;">by author: {% for author in all_authors %}
                      <a href="{% url 'filter' %}?var={{ author.surname }}">
                          &nbsp;{{ author.surname }}&nbsp;</a>
                   {% endfor %}<br />
        </span>
        <span style="margin-left: 50px;">by part of name, patronimic:
            <a href="{% url 'filter' %}?var=adimi">&nbsp;adimi&nbsp;</a>
            <a href="{% url 'filter' %}?var=Dro">&nbsp;Dro&nbsp;</a>
            <a href="{% url 'filter' %}?var=Nik">&nbsp;Nik&nbsp;</a>
            <a href="{% url 'filter' %}?var=Pro">&nbsp;Pro&nbsp;</a>
            <a href="{% url 'filter' %}?var=Alexandrovich">&nbsp;Alexandrovich&nbsp;</a>
            <a href="{% url 'filter' %}?var=Anatolievich">&nbsp;Anatolievich&nbsp;</a>
        </span>
    </li>
    <li>show all books given by specific user (by id)</li>

    <li>show all books for specific author (by id:
        {% for id in authors_id %}
            <a href="/book/author_id/{{ id }}">&nbsp;{{ id }}&nbsp;</a>
        {% endfor %})
    </li>

    <li>show information about all books sorted by name
            (<a href="{% url 'sorted' %}?sorting=asc&param=name">asc</a> and
             <a href="{% url 'sorted' %}?sorting=desc&param=name">desc</a>),
        by order (asc and desc),
        sorted by count
            (<a href="{% url 'sorted' %}?sorting=asc&param=count">asc</a> and
             <a href="{% url 'sorted' %}?sorting=desc&param=count">desc</a>),
    </li>
    <li>show information about all orders sorted by date (created, plated at)</li>
    <li>show information about users who does not hand over books on time</li>
</ul>

{% block content %}

{% endblock %}

</body>
</html>
