{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library - {{ title }} </title>

    <link rel="stylesheet" href="{% static 'css/table.css'%}" type="text/css">
</head>
<body>
<h1><a href="{% url 'index' %}">Library</a></h1>
<ul>
    <li><a href="{% url 'books' %}">show information about all books in library</a></li>
    <li>show information about a specific book (by id:
        {% for id in books_id %}
            <a href="/book/{{ id }}">&nbsp;{{ id }}&nbsp;</a>
        {% endfor %})
    </li>
    <li><a href="{% url 'unordered' %}">show information about all unordered book</a></li>
    <li>show information about book filtering by different criteria<br />
        <span style="margin-left: 50px;">by author: {% for author in all_authors %}
                      <a href="{% url 'filter' %}?var={{ author.surname }}">
                          &nbsp;{{ author.surname }}&nbsp;</a>
                   {% endfor %}<br />
        </span>
        <span style="margin-left: 50px;">by part of name, patronimic:
            <a href="{% url 'filter' %}?var=Лутц">&nbsp;Лутц&nbsp;</a>
            <a href="{% url 'filter' %}?var=адим">&nbsp;адим&nbsp;</a>
            <a href="{% url 'filter' %}?var=охор">&nbsp;охор&nbsp;</a>
            <a href="{% url 'filter' %}?var=Александрович">&nbsp;Александрович&nbsp;</a>
            <a href="{% url 'filter' %}?var=ола">&nbsp;ола&nbsp;</a>
            <a href="{% url 'filter' %}?var=Анатолиевич">&nbsp;Анатолиевич&nbsp;</a>
        </span>
    </li>
    <li>show all books given by specific user (by id:
        {% for user_id in users_id %}
            <a href="/order/user_id/{{ user_id }}">&nbsp;{{ user_id }}&nbsp;</a>
        {% endfor %})
    </li>

    <li>show all books for specific author (by id:
        {% for id in authors_id %}
            <a href="/book/author_id/{{ id }}">&nbsp;{{ id }}&nbsp;</a>
        {% endfor %})
    </li>

    <li>show information about all books sorted by name
            (<a href="{% url 'sorted' %}?sorting=asc&param=name">asc</a> and
             <a href="{% url 'sorted' %}?sorting=desc&param=name">desc</a>),
        by order (<a href="{% url 'sorted' %}?sorting=asc&param=order">asc</a> and
                  <a href="{% url 'sorted' %}?sorting=desc&param=order">desc</a>),
        sorted by count
            (<a href="{% url 'sorted' %}?sorting=asc&param=count">asc</a> and
             <a href="{% url 'sorted' %}?sorting=desc&param=count">desc</a>),
    </li>
    <li>show information about all orders sorted by date (
        created
            <a href="{% url 'order_list' %}?sorting=asc&param=created_at">asc</a>
            <a href="{% url 'order_list' %}?sorting=desc&param=created_at">desc</a>,
        plated at
           <a href="{% url 'order_list' %}?sorting=asc&param=plated_end_at">asc</a>
           <a href="{% url 'order_list' %}?sorting=desc&param=plated_end_at">desc</a>
        )</li>
    <li><a href="{% url 'not_returned_books' %}">show information about users who does not hand over books on time</a></li>
</ul>
{% block content %}

{% endblock %}

</body>
</html>
