{% extends 'index.html' %}
{% block content %}

<h2>Order id: {{ order.pk }}</h2>

{% if delete %}
    {{ delete }}
{% elif saved %}
    {{ saved }}
{% elif form_not_changed %}
    {{ form_not_changed }}
{% elif not form_not_changed %}
    <form action="{% url 'edit_order' order.pk %}" method="POST">
        {% csrf_token %}
            {{ form.as_p }}
        <button type="Submit" name="save">Save</button>
        <button type="Submit" name="delete">Delete</button>
    </form>
{% endif %}
{% endblock %}
