{% extends 'index.html' %}
{% block content %}

<h2>show information about all orders sorted by date ({{ param }},  {{ sorting }})</h2>

<a href="{% url 'add_order' %}">+ Add order</a>
<table>
    <tr>
        <th>ID</th>
        <th>Book ID</th>
        <th>Book name</th>
        <th>Authors</th>
        <th>User ID</th>
        <th>User</th>
        <th>Created at</th>
        <th>Actual return date</th>
        <th>Return date until</th>
        <th></th>
    </tr>
    {% for order in order_list %}
    <tr>
        <td>{{order.id}}</td>
        <td>{{order.book.pk}}</td>
        <td>{{order.book.name}}</td>
        <td>{% for author in order.book.authors.all %}
                {{ author.surname }}
                {{ author.name }}
                {{ author.patronymic }}
            {% endfor %}
        </td>
        <td>{{ order.user.id }}</td>
        <td>
            {{ order.user.last_name}}
            {{ order.user.first_name}}
            {{ order.user.middle_name}}
        </td>
        <td>{{order.created_at}}</td>
        <td>{{order.end_at}}</td>
        <td>{{order.plated_end_at}}</td>
        <td><a href="{% url 'edit_order' order.id %}">edit</a></td>
    </tr>
    {% endfor %}

{% endblock %}

</table>
